.topics {
  margin-bottom: 100px;
  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 34px;
  }

  &__item {
  }

  p {
    font-size: 16px;
    line-height: 175%; /* */
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }

    b {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  ul {
    margin-bottom: 24px;
    list-style: disc;
    padding-left: 22px;
    &:last-child {
      margin-bottom: 0;
    }

    li {
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 175%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item-title {
    padding: 18px 22px;
    border-radius: 10px;
    border: 1px solid #f8d068;
    margin-bottom: 40px;
    min-height: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    color: #906718;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 125%; /* */
  }

  &__btn {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 1150px) {
  .topics {
  }
}

@media (max-width: 900px) {
  .topics {
    &__items {
      max-width: 550px;
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 50px;
      margin: 0 auto 34px;
    }
  }
}

@media (max-width: 768px) {
  .topics {
    margin-bottom: 70px;
    &__item-title {
      font-size: 20px;
      padding: 14px 65px;
      margin-bottom: 30px;
    }
    &__item {
      p,
      ul,
      ul li {
        margin-bottom: 15px;
      }
    }
    &__btn {
      margin: 0 auto;
    }
  }
}

@media (max-width: 400px) {
  .topics {
    &__item-title {
      padding: 16px 20px;
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
